@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --font-sans: 'Inter', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --border: #333333;
}

.light-theme {
  --background: #fafafa;
  --foreground: #0a0a0a;
  --border: #e5e5e5;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-[var(--background)] text-[var(--foreground)] transition-colors duration-700;
    overflow-x: hidden;
  }
}

/* Hide all scrollbars globally */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
